---
import Markdown from '@/components/blog/Markdown.astro';
import PostHeader from '@/components/blog/PostHeader.astro';
import { SITE_DESCRIPTION, SITE_TITLE, defaultLocale } from '@/consts';
import { getRelativeUrlWithoutLocale } from '@/i18n';
import SidebarLayout from '@/layout/SidebarLayout.astro';
import { CollectionType, getLocaleCollection } from '@/lib/collection';
import { getSeo } from '@/lib/seo';
import { SEO } from 'astro-seo';

export async function getStaticPaths() {
  const posts = await getLocaleCollection(
    defaultLocale,
    CollectionType.Posts,
    ''
  );
  return posts.map((post) => {
    return {
      params: {
        lang: defaultLocale,
        slug: getRelativeUrlWithoutLocale(post.slug)
      },
      props: { entry: post }
    };
  });
}

const { entry } = Astro.props;

const { Content, remarkPluginFrontmatter } = await entry.render();

const seoConfig = getSeo({
  title: entry.data.title,
  description: entry.data.description || SITE_DESCRIPTION
});
---

<SidebarLayout>
  <SEO {...seoConfig} titleTemplate={`%s - ${SITE_TITLE}`} canonical={new URL(Astro.url.pathname, Astro.site)} slot="seo" />
  <main class="bg-card shape-card p-6 sm:p-8 main-card-onload rounded-card">
    <article class="prose w-full max-w-full dark:prose-invert">
      <PostHeader matter={remarkPluginFrontmatter} />

      <Markdown class="mb-6 markdown-content onload-animation">
        <Content />
      </Markdown>
    </article>
  </main>
</SidebarLayout>
