@tailwind base;

@layer base {
  :root {
    --primary-hue-gradient: calc(
      var(--primary-hue) + 20
    ); /* Oh no, Safari doesn't support calc() in oklch(from) */

    --bg-page: oklch(85% 0.02 1);
    --text-primary: #111827;
    --text-card: 74.22% .1398 var(--primary-hue);
    --bg-card: 100 0 var(--primary-hue);

    --content-50: theme("colors.gray.600");
    --content-100: theme("colors.gray.700");
    --content-200: theme("colors.gray.900");
    --content-primary: #111827;

    --admonitions-color-tip: oklch(0.7 0.14 180);
    --admonitions-color-note: oklch(0.7 0.14 250);
    --admonitions-color-important: oklch(0.7 0.14 310);
    --admonitions-color-warning: oklch(0.7 0.14 60);
    --admonitions-color-caution: oklch(0.6 0.2 25);
  }

  html.dark {
    --text-primary: #f3f4f6;
    --bg-page: oklch(15% 0.02 var(--primary-hue));
    --bg-card: 25% 0.025 var(--primary-hue);

    --content-50: theme("colors.gray.400");
    --content-100: theme("colors.gray.300");
    --content-200: theme("colors.gray.100");
    --content-primary: #f3f4f6;

    --admonitions-color-tip: oklch(0.75 0.14 180);
    --admonitions-color-note: oklch(0.75 0.14 250);
    --admonitions-color-important: oklch(0.75 0.14 310);
    --admonitions-color-warning: oklch(0.75 0.14 60);
    --admonitions-color-caution: oklch(0.65 0.2 25);
  }

  body {
    color: #000;
    background-color: var(--bg-page);
    background-image: linear-gradient(
      to bottom right,
      oklch(from var(--bg-page) l c var(--primary-hue-gradient)),
      var(--bg-page)
    );
  }
  .dark body{
    color: #fff;
  }
}
