---
import ChangeLang from '@/components/header/ChangeLang.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import { i18n } from '@/i18n';
import BaseLayout from '@/layout/BaseLayout.astro';
import { getSeo } from '@/lib/seo';
import { SEO } from 'astro-seo';

const t = i18n(Astro.url);
const seoConfig = getSeo({ title: SITE_TITLE, description: SITE_DESCRIPTION });
---

<BaseLayout>
  <SEO {...seoConfig} canonical={new URL(Astro.url.pathname, Astro.site)} slot="seo" />
  <main>
    <h1>
      🧑‍🚀 {t('title')}
    </h1>
    <p>
      <ChangeLang />
    </p>
  </main>
</BaseLayout>
