---
interface Props {
  className?: string;
  trigger?: 'click' | 'hover' | 'both';
  ariaLabel?: string;
}
const { trigger = 'click', ariaLabel = '', className = 'w-24' } = Astro.props;

const triggerClass = {
  hover:
    'group-hover:visible group-hover:opacity-100 group-hover:translate-y-1',
  click:
    'group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-1'
};
---
<div class="inline group relative">
  <button aria-label={ariaLabel}>
    <slot />
  </button>
  <nav tabindex="0" class:list={["border text-heading shadow backdrop-blur-lg bg-card right-0 rounded invisible absolute top-full transition-all opacity-0 *:p-2", className, trigger === 'both' ? [triggerClass.click,triggerClass.hover].join(' ') : triggerClass[trigger]]}>
    <slot name="dropdown" />
  </nav>
</div>
