---
import { getLocaleFromUrl, getLocaleUrl } from '@/i18n';

type Props = {
  href: string;
  className?: string;
  locale?: string;
};

const { href, className, locale } = Astro.props;

const currentLocale = locale || getLocaleFromUrl(Astro.url);
const link = getLocaleUrl(href, currentLocale);
---

<a href={link} class:list={[className]}>
  <slot />
</a>
