---
import { getLocaleFromUrl, getLocaleUrl } from '@/i18n';

type Props = {
  href: string;
  class?: string;
  locale?: string;
};

const { href, class: className, locale, ...props } = Astro.props;

const currentLocale = locale || getLocaleFromUrl(Astro.url);
const link = getLocaleUrl(href, currentLocale);
---

<a href={link} class:list={[className]} {...props}>
  <slot />
</a>
