---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import Favicon from '@/components/head/Favicon.astro';
import Navbar from '@/components/header/Navbar.astro';
import LoadingIndicator from 'astro-loading-indicator/component';

// Do not use `Astro.props` in the layout file
---

<html lang={Astro.currentLocale}>
	<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <slot name="seo" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Favicon />
    <ViewTransitions fallback="swap" />
    <LoadingIndicator color="hsl(236, 100%, 81%)" />
	</head>
  <body class="bg-fixed">
    <div class="container-max-lg">
      <Navbar />
      <div class="w-full place-self-stretch">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-[minmax(0,1fr)_30%]">
          <div class="">
            <slot />
          </div>
          <aside>
            <slot name="sidebar">
              <!-- <SideBar /> -->
            </slot>
          </aside>
        </div>
      </div>
    </div>
	</body>
</html>
