---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import Favicon from '@/components/head/Favicon.astro';
import LoadingIndicator from 'astro-loading-indicator/component';

// Do not use `Astro.props` in the layout file
---

<html lang={Astro.currentLocale}>
	<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <slot name="seo" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Favicon />
    <ViewTransitions fallback="swap" />
    <LoadingIndicator color="hsl(236, 100%, 81%)" />
	</head>
  <body class="bg-fixed">
    <div class="container-max-lg">
      <slot />
    </div>
    <script is:inline>
      const getThemePreference = () => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };
      const isDark = getThemePreference() === "dark";
      document.documentElement.classList[isDark ? "add" : "remove"]("dark");

      if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
          const isDark = document.documentElement.classList.contains("dark");
          localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["class"],
        });
      }
    </script>
	</body>
</html>
